<section class="about-me">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>About Me</h1>
                <p class="small">Information About me</p>
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="row">
                <div class="img">
                  <img src="../../assets//pic.jpg" alt="pic">
                </div>
                <div class="text">
                 <h4>I'm Shini Kurian</h4>
                 <h6>Java Full Stack Developer</h6>
                 <p>A passionate human being with an engineered mindset. Quick learner with ability to learn new
                     languages and work with latest technologies</p>

                  <div class="info">
                 <div class="list">
                     <label>Birthday</label>
                     <p>24th May 1994</p>
                 </div>
                 <div class="list">
                     <label>Email</label>
                     <p>shinikurian009@gmail.com</p>
                 </div>
                 <div class="list">
                     <label>Age</label>
                     <p>26 yr</p>
                 </div>
                 <div class="list">
                     <label>Mobile No</label>
                     <p>9207008189</p>
                 </div>
                 <div class="list">
                     <label>Residence</label>
                     <p>India</p>
                 </div>
                 <div class="list">
                     <label>GitHub </label>
                     <p>https://github.com/shinidotsta</p>
                 </div>
                 <div class="list">
                     <label>Address</label>
                     <p>Kallarackal(H),Kottayam</p>
                 </div>
              </div>  
              <!--social links--> 
              <div class="social-links">
                  <a href="https://github.com/shinidotsta"><i class="fa fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/shini-kurian-6a588764/"><i class="fa fa-linkedin"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
              </div>
                </div>
             </div>
            </div>
        </div>
    </div>
</section>
