<section class="skills">
    <div class="container">
        <div class="row align-items-center">
            <div class="skills-content">
                <div class="row">
                     <div class="section-title">
                         <h1>Professional Skills</h1>
                         <p>Building state-of-the-art, easy to use, user-friendly websites and applications is truly a passion of mine and I am confident I would be an excellent addition to your organization. In addition to my knowledge base, I actively seek out new technologies and stay up-to-date on industry trends and advancements. </p>
                     </div>
                </div>
                <div class="row">
                    <div class="skill-box">
                        <h6>C</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in" style="width: 80%;">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                      <div class="skill-box">
                          <h6>Java</h6>
                          <div class="skill-bar">
                              <div class="skill-bar-in" style="width: 80%;">
                                  <span>80%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill-box">
                        <h6>HTML 5</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in"  style="width: 80%;">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-box">
                        <h6>JS</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in"  style="width: 70%;">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-box">
                        <h6>SQL</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in"  style="width: 70%;">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="img">
               <img src="../../assets//bg1.jpg" alt="">
                </div>
           
        </div>
    </div>
</section>
