<div class="services">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>My Projects</h1>
            </div>
        </div>
        <div class="row">
            <div class="service-content">
               
                <div class="box">
                    <div class="icon"><i class="fa fa-laptop"></i></div>
                    <h5>Product Cart Web App(Java)</h5>
                    <p>An electronic shopping cart is a software resource that functions as an interface for users that buy items from a business online.</p>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-columns"></i></div>
                    <h5>Hotel Management(Java)</h5>
                    <p>Developed a simple application for reducing complexity in hotel booking.</p>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <h5>Monopoly Game(JS)</h5>
                    <p>Monopoly is a board game. In the game, players roll two six-sided dice to move around the game board</p>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-mobile"></i></div>
                    <h5>Tic Tac Toe Game(JS)</h5>
                    <p>Tic Tac Toe is a simple 2 player game that is played on a grid of 9 squares. Each player will take turns to choose a square.</p>
                </div>
                    <div class="box">
                        <div class="icon"><i class="fa fa-search"></i></div>
                        <h5>Portfolio(HTML,CSS,JS)</h5>
                        <p>Biodata creation using HTML ,CSS and JS</p>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa fa-cog"></i></div>
                        <h5>Jewellary Management System(.net C#)</h5>
                        <p>Online shopping cart where the customer can purchase Jewellary</p>
                    </div>
          
            </div>
        </div>
    </div>
</div>
